<div class="row-fluid">
			<div class="camera_wrap pattern_4 camera_emboss" id="camera_wrap_4">
          <div data-src="{% for picture in carousel_pictures|slice:"0:1" %}{{ picture.image.url }}{% endfor %}">
					<div class="camera_caption fadeFromTop">
					</div>
				</div>
        <div data-src="{% for picture in carousel_pictures|slice:"1:2" %}{{ picture.image.url }}{% endfor %}">
					<div class="camera_caption fadeFromRight">
					</div>
				</div>
        <div data-src="{% for picture in carousel_pictures|slice:"2:3" %}{{ picture.image.url }}{% endfor %}">
					<div class="camera_caption fadeFromRight">
					</div>
				</div>
        <div data-src="{% for picture in carousel_pictures|slice:"3:4" %}{{ picture.image.url }}{% endfor %}">
					<div class="camera_caption fadeFromRight">
					</div>
				</div>
        <div data-src="{% for picture in carousel_pictures|slice:"4:5" %}{{ picture.image.url }}{% endfor %}">
					<div class="camera_caption fadeFromRight">
					</div>
				</div>
        <div data-src="{% for picture in carousel_pictures|slice:"5:6" %}{{ picture.image.url }}{% endfor %}">
					<div class="camera_caption fadeFromRight">
					</div>
				</div>
        <div data-src="{% for picture in carousel_pictures|slice:"6:7" %}{{ picture.image.url }}{% endfor %}">
					<div class="camera_caption fadeFromRight">
					</div>
				</div>

			</div>

