            <li id="navbarentry" class="dropdown"><a href="
                {% if page.pages.all|length > 1 %} 
                #
                {% else %}
                    {% with page.pages.all|first as image %}
                        /pages/{{ image.title }} 
                    {% endwith %}
                {% endif %}"
                
                class="dropdown-toggle" data-toggle="dropdown">{{ page.title }} {% if page.pages.all|length > 1 %}
                <b class="caret"></b>{% endif %}
</a>
                {% if page.pages.all|length > 1 %}
                <ul class="dropdown-menu js-activated" style="display: none;">
                {% for subpage in page.pages.all %}
                    <li><a href="/pages/{{ subpage.name_on_navbar }}">{{ subpage.url_title }}</a></li>
                {% endfor %}
              <!--.dropdown-->
            </ul>
            {% endif %}
            </li>
            <li class="divider-vertical"></li>

