<div class="heightauto">
    <ul id="recent-projects" class="heightauto">
        <!--featured-projects 1-->
        <li>
        <div class="featured-projects">
            <div class="featured-projects-image">
                <a href="?id=atlas"><img src="../assets/img/frc/atlas1.jpg" class="imgOpa" alt=""></a>
            </div>
            <div class="featured-projects-content">
                <h1><a href="?id=atlas">Atlas</a></h1>
                <p>
                2013 Ultimate Ascent 
                </p>
            </div>
        </div>
        </li>
    </ul>
</div>
